/path_plot/
/path_plot_1/
/path_plot_2/
/alldata/
/.idea/
/output/
/source/source/generated/
*.pyc
/test/
/distance/
/processed_data/
/processed_data_1/
/processed_data_2/
/data/
/data_alt/
/topo_plot/
/topo_plot_1/
/topo_plot_2/
